{% if app.user and app.user != user %}
	{% set is_following = false %}
	{% for follow in user.followers %}
		{% if follow.follower.id == app.user.id %}
			{% set is_following = true %}
		{% endif %}
	{% endfor %}

	<span class="follow-btn" data-id="{{ user.id }}">
		{% if is_following %}
			<i class="follow-icon fa-solid fa-bookmark"></i>
	    {% else %}
			<i class="follow-icon fa-regular fa-bookmark"></i>
		{% endif %}
	</span>
{% endif %}
