<span class="like-button" data-type="{{ type }}" data-id="{{ entity.id }}">
    {% if app.user and entity.isLikedByUser(app.user) %}
        <i class="like fa-solid fa-heart"></i>
    {% else %}
        <i class="like fa-regular fa-heart"></i>
    {% endif %}
</span>